{% extends "base.html" %}

{% block content %}
<h2>About The Reading Gym</h2>
<h3>A <a href="http://devfort.com/">/dev/fort</a> project</h3>

<p>
  On the remote <a href="http://www.isleofeigg.net/">Isle of Eigg</a> (which has only 100 inhabitants) the <a href="http://www.twitter.com/devfort">/dev/fort</a> Cohort 8 created <a href="http://www.readinggym.org">The Reading Gym</a> in just one week, in isolation. 
</p>
<p>
  For six days we lived and worked together in <a href="http://www.glebebarn.co.uk/">Glebe Barn</a>, sharing design, product &amp; development work, as well as household work like cooking and cleaning.
</p>

<h3>Who made this?</h3>
<ul>
  <li>Elly Williams (<a href="https://twitter.com/ellywilliams">@ellywilliams</a>)</li>
  <li>David Thompson (<a href="https://twitter.com/fatbusinessman">@fatbusinessman</a>)</li>
  <li>Alex Stapleton (<a href="https://twitter.com/alexstapleton">@alexstapleton</a>)</li>
  <li>James Coglan (<a href="https://twitter.com/jcoglan">@jcoglan</a>)</li>
  <li>Adam Sven Johnson (<a href="https://twitter.com/pkqk">@pkqk</a>)</li>
  <li>Meri Williams (<a href="https://twitter.com/geek_manager">@geek_manager</a>)</li>
  <li>Neil Kimmett (<a href="https://twitter.com/neilkimmet">@neilkimmet</a>)</li>
  <li>Ryan Alexander (<a href="https://twitter.com/rnalexander">@rnalexander</a>)</li>
  <li>David Brownlee (<a href="https://twitter.com/abs0">@abs0</a>)</li>
  <li>Mark Norman Francis (<a href="https://twitter.com/cackhanded">@cackhanded</a>)</li>
  <li>Mark Hurrell (<a href="https://twitter.com/markhurrell">@markhurrell</a>)</li>
  <li>James Aylett (<a href="https://twitter.com/jaylett">@jaylett</a>)</li>
</ul>

<h3>What Else Happened?</h3>
<p>
  Cohort 8 of <a href="http://devfort.com/">/dev/fort</a> was the largest group to date: 18 people ranging in profession, including designers, developers, writers, artists and an architect. 
</p>
<p>
  In total the cohort worked on five projects: The Reading Gym, <a href="http://www.earthlens.org">Earth Lens</a>, <a href="http://lookaroundyou.co/">Look Around You</a>, <a href="http://www.checkyourfont.com">Check Your Font</a> and a series of videos about the Isle of Eigg itself. The other members of Cohort 8 were:
</p>
<ul>
  <li>Russ Garret (<a href="https://twitter.com/russss">@russss</a>)</li>
  <li>Mazz Mosley (<a href="https://twitter.com/mnowster">@mnowster</a>)</li>
  <li>Andrew Godwin (<a href="https://twitter.com/andrewgodwin">@andrewgodwin</a>)</li>
  <li>Alex Lee (<a href="https://twitter.com/n0seblunt">@n0seblunt</a>)</li>
  <li>Louise Downe (<a href="https://twitter.com/louisedowne">@louisedowne</a>)</li>
  <li>Ben Firshman (<a href="https://twitter.com/bfirsh">@bfirsh</a>)</li>
</ul>

{% endblock %}
