{% extends "base.html" %}

{% block content %}
<h2>Go Team Words</h2>
<h3>A <a href="http://devfort.com/">/dev/fort</a> project</h3>

<p>
  On the remote Isle of Eigg the /dev/fort Cohort 8 made this website to help you read faster
  because reading is awesome and this means you can do more awesome in the same amount of time.
</p>

<h3>Who made this?</h3>

<ul>
  <li>Elly Williams (<a href="https://twitter.com/ellywilliams">@ellywilliams</a>)</li>
  <li>Dave Thompson (<a href="https://twitter.com/fatbusinessman">@fatbusinessman</a>)</li>
  <li>Alex Stapleton (<a href="https://twitter.com/alexstapleton">@alexstapleton</a>)</li>
  <li>James Coglan (<a href="https://twitter.com/jcoglan">@jcoglan</a>)</li>
  <li>Adam Sven Johnson (<a href="https://twitter.com/pkqk">@pkqk</a>)</li>
  <li>Mark Norman Francis (<a href="https://twitter.com/cackhanded">@cackhanded</a>)</li>
  <li>Meri Williams (<a href="https://twitter.com/geek_manager">@geek_manager</a>)</li>
  <li>Neil Kimmett (<a href="https://twitter.com/neilkimmet">@neilkimmet</a>)</li>
  <li>Ryan Alexander (<a href="https://twitter.com/rnalexander">@rnalexander</a>)</li>
  <li>David Brownlee (<a href="https://twitter.com/abs0">@abs0</a>)</li>
  <li>Mark Hurrell (<a href="https://twitter.com/markhurrell">@markhurrell</a>)</li>
</ul>
{% endblock %}
