{% load asset_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}The Reading Gym{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=640" />
        <!--[if lt IE 9]>
        <script src="/static/js/ie7/IE9.js"></script>
        <![endif]-->
        {% include_css 'app.css' %}
        {% include_js 'lib.js' %}
        {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <script type="text/javascript">$("body").addClass("js");</script>

    <div id="content">
        {% block header %}
        <header>
            <a href="{% url "index" %}">
                {% include_image 'otter-logo.png' %}
                <h1>The Reading Gym</h1>
            </a>
        </header>
        {% endblock %}
        {% block login %}
        <div id="login">
            {% if user.is_authenticated %}
            <p>You are logged in as <em>{{ user.email }}</em>.</p>
            <form method="post" action="{% url "logout" %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <p>You are not logged in.</p>
            <a href="{% url "login" %}">Login</a>
            {% endif %}
        </div>
        {% endblock %}
        <section role="main">
            {% block content %}
            {% endblock %}
        </section>
        <footer>
        <h1><a href="{% url "about" %}">The Reading Gym</a></h1>
        <p><a href="mailto:readinggym@groups.google.com">Feedback?</a></p>
        <p>A <a href="http://devfort.com/">/dev/fort</a> project</p>
        </footer>
    </div>
</body>
</html>
