{% extends "test.html" %}

{% block content %}
Congratulations! You seemed to understand well reading at that speed. {{ correct_answers }} / {{ num_questions }}
<p>
  Perhaps next you could head over to the training room to do more focused practice or some sprinting? 
</p>
<p>
	Focused practice gives you a regulator (similar to using your finger or a pen to focus on the words) at a speed you set. This helps you stop going back over text you've already read and makes your eyes &amp; brain coordinate better.
</p>
<p> 
	Sprinting is about training your eyes to move faster &mdash; typically 1.5x to 2x your regular speed. You shouldn't worry about understanding so much, rather focusing on just keeping up.
</p>	
<p class="nextSteps">
    <a class="enticing" href="{% url "dashboard" %}">Take me to the training room!</a>
</p>
{% endblock %}
