{% extends "base.html" %}

{% block content %}
<h1>How well did you read?</h1>
<h2>{{ piece }}</h2>
<form method="post">
    {% csrf_token %}
    <ul>
        {% for question, answers in questions %}
        <li>
        <h3>{{ question }}</h3>
        <ul>
            {% for answer in answers %}
            <li><label>
                <input type="radio" name="q-{{ question.id }}"
                value="{{ answer.id }}">
                {{ answer.text }}
            </label></li>
            {% endfor %}
        </ul>
        </li>
        {% endfor %}

        <li>
        <input type="submit">
    </ul>
</form>
{% endblock %}
