{% extends "test.html" %}

{% block content %}
<h2>Check Your Understanding</h2>
<h3>{{ piece }}</h3>

<form method="post">
    {% csrf_token %}
    <ol class="questions">
        {% for question, answers in questions %}
        <li class="question">
        <h4>{{ question }}</h4>
        <input type="hidden" name="q-{{ question.id }}" value="-1">
        <ul class="answers">
            {% for answer in answers %}
            <li><label>
                <input type="radio" name="q-{{ question.id }}"
                value="{{ answer.id }}">
                {{ answer.text }}
            </label></li>
            {% endfor %}
        </ul>
        </li>
        {% endfor %}
    </ol>
    <button type="submit">Done</button>
</form>
{% endblock %}
