{% extends "base.html" %}

{% block content %}

{% if reading_speed %}
  <p>
  You are currently reading at about <em class="reading_speed">{{ reading_speed }}</em> words per minute.
  </p>
{% else %}
  <p>
    You haven't done any tests yet. Do a test to see some sexy statistics!
  </p>
{% endif %}

{% if reading_improvement %}
  <p>
  This is <em class="reading_improvement">{{ reading_improvement }}</em> words per minute faster than you started at.
  </p>
{% endif %}

{% if total_words %}
  <p>
  You have read about {{ total_words }} words.
  </p>
{% else %}
  <p>
    You haven't read any words yet.
  </p>
{% endif %}

<div class="dashboard_buttons">
<a href="{% url "speed-test" %}" class="dashboard_button">Speed test</a>
<a href="{% url "practice" %}" class="dashboard_button">Practice</a>
<a href="{% url "random-sprint" %}" class="dashboard_button">Sprint</a>
</div>

{% endblock %}
