{% extends "base.html" %}

{% block content %}

<h2>I Have Some Questions...</h2>

<h3>Why Not Skim Reading?</h3>
<p>
  Skimming is when you try to just glance over a document, relying on your brain taking snapshots of the page and taking in some information. Many people have been taught to skim when wanting to learn to read faster and been disappointed because they lost out in terms of understanding. 
</p>
<p>
  Though skimming can be a useful skill to learn, we believe that it can reduce your understanding of what you're reading, and doesn't result in sustainable regular speed improvement AND increased understanding. This is why we advocate the "focused reading" and "sprinting" exercises &mdash; these improve your overall "normal" reading ability rather than teaching you a new way to take in information. 
</p>
<h3>But What About This Boring Textbook / Technical Book?</h3>
<p>
  When we read a novel, we tend to start at the beginning and keep going until the end. That's how novels work, after all. But non-fiction books have a lot more structure &mdash; sections, chapters, diagrams, references, etc. 
</p>
<p>
  If you're reading non-fiction, you can be more effective by first looking at the table of contents to understand the structure. You may find it useful to flip through the book or article to see the relative lengths of the different sections. 
</p>
<p>
  Also remember that reading cover-to-cover isn't always the best idea. So you might want to dip in and out to specific chapters, read in a different order if you have background in the subject already, etc. Make a quick assessment and make an active decision rather than just starting and hoping. 
</p>

<h3>What Next?</h3>
<p class="nextSteps">
    <a class="enticing" href="{% url "speed-test" %}">Test my speed</a>
</p>

{% endblock %}
