{% extends "base.html" %}

{% block content %}
<h2>Welcome!</h2>
<p>
  Hi! We'd like to help you to read better and faster. Most folks haven't really worked on their reading skill since learning to read as children. By learning a couple of simple techniques to practise, you can read faster AND understand more. 
</p>
<p>
  We want to help you level up your reading ability, whatever your starting point. 
</p>
<h2>Getting Faster</h2>
<p>
  There are two things you can do to read faster and understand more:
</p>
<ul>
  <li>Practise focused reading (at your regular speed)</li>
  <li>Do sprint training (at much higher speed)</li>
</ul>
<h3>Focused Practice</h3>
<p>
  Offline you do this by running your finger or a pen/stylus (a "regulator") along the line that you are reading. It helps to keep you focused and prevents you going back over words you have already read. It's important to not try to push your speed; <s></s> this is mostly about reading at a comfortable speed and focusing on good habits. 
</p>
<p>
  We have a prepared a bunch of articles you can read in this way here, with short comprehension tests afterwards so you check you're not losing any understanding. An indicator on the screen moves at your preferred speed, and we fade out the lines above and below so your eyes aren't distracted by what has been or what is coming. 
</p>
<h3>Sprint Training</h3>
<p>
  If you run, one of the ways that you increase your speed over long distances is to do sprint training <s></s> deliberately going fast over a shorter distance to build up your muscles and your speed. 
</p>
<p>
  You should do the same with reading, deliberately making your eyes move about twice as fast as they are used to doing. You will of course not understand the material as well, but the point of the exercise is more to train your eye muscles, to get used to moving and refocusing faster, without worrying about understanding. 
</p>
<h3>Speed Tests</h3>
<p>
  It's also useful to get a snapshot of your progress by reading "normally" (without a regulator and not deliberately sprinting). We will give you an article to read and you can either time yourself offline or use the Start &amp; Stop buttons to have the system calculate this for you. 
</p>

<a class="enticing" href="{% url "speed-test" %}">Test my speed</a>

<a class="enticing" href="{% url "why" %}">Moar science</a>

{% endblock %}
