{% extends "base.html" %}
{% load asset_tags %}

{% block extra_head %}
{% include_js 'app.js' %}
<script>
$(function() {
  var pager = new Pager($("article"));
  var regulator = new Regulator($("article"), pager, 300);

  $('#practice').click(function() {
    if(regulator.running) {
      regulator.stop();
      $(this).text('Start');
    } else {
      regulator.start();
      $(this).text('Stop');
    }
  });

  $("#practice").focus();
});
</script>
{% endblock %}

{% block content %}
<section class="ui">
    <button id="practice" type="button">Start</button>
</section>

<article>
    {{ words_to_read|safe|linebreaks }}
</article>

<section id="proceed">
<a href="{% url "comprehension" object.pk %}">Test my understanding.</a>
</section>
{% endblock %}
