{% extends "base.html" %}
{% load asset_tags %}

{% block extra_head %}
{% include_js 'app.js' %}
<script>
{% block wpm_script %}
var wpm = Cookies.get("wpm") || 300;
{% endblock %}

$(function() {
  var pager = new Pager("article");
  var regulator = new Regulator("article", pager, "input[name='wpm']");

  $('#control-article').click(function() {
    if(regulator.running) {
      regulator.stop();
      $(this).text('Start');
    } else {
      regulator.start();
      $(this).text('Stop');
    }
  });

  $("#control-article").focus();
});
</script>
{% endblock %}

{% block content %}
<section class="ui">
    <label class="wpm">
        Words per minute: <input type="text" name="wpm">
    </label>
    <button id="control-article" type="button">Start</button>
</section>

<article>
    {% include "article_header.html" %}

    {{ words_to_read|safe|linebreaks }}
</article>

<span id="current-page"></span>/<span id="page-count"></span>

<section id="proceed">
    <a href="{% url "comprehension" object.pk %}">Test my understanding.</a>
</section>
{% endblock %}
