{% load staticfiles %}
<html>
<head>
    <script src="{% static "jquery-1.10.2.min.js" %}"></script>
    <script>
        $(function () {
            var spans = $("article span");

            var lines = [];
            var lastOffset;
            var last$e;
            var first$e;
            var firstOffset;
            var widthSum = 0;

            spans.each(function (i, e) {
                var $e = $(e);
                var offset = $e.offset();

                // track the start of each line
                if(!first$e) {
                    first$e = $e;
                    firstOffset = offset;
                }
                
                if (offset && lastOffset) {
                    if(offset.top != lastOffset.top) {
                        lines.push([
                            firstOffset.left,
                            widthSum,
                            lastOffset.top,
                            last$e.height(),
                        ]);

                        widthSum = 0;
                        firstOffset = offset;
                        first$e = $e;
                    }
                }

                widthSum += $e.width();
                lastOffset = offset;
                last$e = $e;
            });

            var box = $("<div>").addClass("regulator");
            $("body").append(box);

            var guideWidth = 30;
            var pixelRate = 200;
            var lineNo = 0;
            var guideLine = function () {
                var line = lines[lineNo];
                var lineBottom = line[2] + line[3];
                var lineWidth = line[1];
                var lineLeft = line[0];
                var guideTime = ((lineWidth - guideWidth) / pixelRate)* 1000;
                console.log(line, lineNo, guideTime);
                
                box.css({
                    left: lineLeft,
                    top: lineBottom,
                    width: guideWidth
                });

                box.animate({
                    left: (lineLeft + lineWidth) - guideWidth,
                }, guideTime, 'linear', function () {
                    lineNo += 1;
                    window.setTimeout(guideLine, 100);
                });
            };

            guideLine();
        });
        </script>
        <style>
            article {
                width: 30em;
                margin: 0 auto 0 auto;
                line-height: 2em;
                position: relative;
                text-align: justify;
            }

            span {
                display: inline-block;
                white-space: pre;
            }

            .regulator {
                position: absolute;
                height: 3px;
                background-color: red;
            }
        </style>
</head>
<body>

    <h1>Read this!</h1>
<article>
{{ words_to_read|safe }}
</article>

</body>
</html>
