{% extends "base.html" %}
{% block extra_head %}
<script src="/static/js/regulator.js" type="text/javascript"></script>
<script src="/static/js/speed.js" type="text/javascript"></script>
<script>
$(function() {
  var article = $("article");  
  var pager = new Pager(article);
  var nextPage = $("<button>Next page</button>");
  nextPage.click(function () {
    pager.nextPage();
  });
  article.after(nextPage);
});
</script>
{% endblock %}

{% block content %}
<div id='timer-module'>
  <p class='explanation'>
    You will need something (such as a stop watch) to time how long it takes you to read the following.
    Read as fast as you can while still understanding each line.
  </p> 
  <div id='timer-control'></div>

  <article>
    {{ words_to_read|safe }}
  </article>

  <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Record time</button>
  </form>
</div>

<script>
enhanceTimerModule('How the clever buttons work yo');
</script>
{% endblock %}

