{% extends "test.html" %}
{% load asset_tags %}

{% block extra_head %}
{% include_js 'app.js' %}
<style>
  #timer-module.enhanced form { display: none }
</style>
{% endblock %}

{% block content %}
<div id="timer-module">
  <p class="explanation">
    You will need something (such as a stop watch) to time how long it takes you to read the following, then input your time and we will calculate your speed for you. 
    Read at a speed that is comfortable for you. Click <a href="#timer-control">here</a> when ready.  
  </p> 

  <div id="timer-control"></div>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Record time</button>
  </form>

  <article>
    {% include "article_header.html" %}
    {{ words_to_read|safe }}
  </article>
</div>

<section id="proceed">
<a href="{% url "comprehension" pk=object.pk %}">Check my understanding.</a>
</section>

<span id="current-page"></span>/<span id="page-count"></span>

<script>
    enhanceTimerModule("#timer-module", 
                       "Read at a speed you find comfortable and make sure you understand what you are reading. Press [Start] to start timing, [Page Down] to move down, and [Done] when you're done and we'll calculate your average speed for you. Click <a href=\"#timer-control\">here</a> when ready.",
                       new Pager($("article")));
</script>

{% endblock %}


