{% extends "base.html" %}

{% block content %}
<h1>What's slowing you down?</h1>
<p>
  There are a few common problems that pretty much everybody experiences. These are:
</p>
<ul>
  <li>Regression (going back and re-reading words or sentences)</li>
  <li>Subvocalising (reading to yourself "out loud in your head")</li>
  <li>Losing concentration (losing your place or getting distracted)</li>
  <li>Small fixation (reading one letter or word at a time)</li>
</ul>
<p>
  Let's learn a little more about them...
</p>

<h2>Regression</h2>
<p>
  Even without being aware of it, you might be going back again and again over text you have already read. This is a habit many of us retain from when we first learnt to read at school, where we would check that we had read the word correctly. 
</p>
<p>
  Breaking this habit is possible but takes some practice <s></s> one of the techniques we will help you use specifically helps with this.
</p>

<h2>Subvocalisation</h2>
<p>
  Subvocalisation is reading to yourself in your head, so you are hearing the words you are reading in your mind. It's actually associated with tiny, almost undetectable movement of the muscles associated with speaking. It's actually a really useful thing to do if you're trying to memorise a text to perform it later, but for normal reading it can slow you down as there's a limit to how quickly you can "speak" even in your mind. 
</p>
<p>
  Audiobooks are usually recorded at 150-160 words per minute (wpm) because research has shown this is the fastest the average listener can comprehend. Whereas, a good reading speed is around 300 wpm <s></s> so you could be taking in information twice as fast if you weren't reading "out loud" in your head. 
</p>
<p>
  It isn't necessarily possible to completely eliminate subvocalisation, but you can reduce it by training yourself to read faster. The experience when you break through the "subvocalisation barrier" and read faster is brilliant <s></s> it's like the words are going straight from your eyes to your mind. 
</p>

<h2>Losing concentration</h2>
<p>
  You might also be losing concentration, finding yourself daydreaming or just staring at the page rather than taking it in. Often folks think this means they need to read slower in order to pay sufficient attention, but in fact reading faster might be what you really need! If you're reading too slowly you may be encouraging your brain to find other things to occupy it. 
</p>
<p>
  We've all had to get up and walk away from our desk because we've realised we've read the same sentence or paragraph half a dozen times without actually understanding it. You can help reduce this by figuring out what the best reading environment for you is (e.g. do you need it to be quiet, or for conversations around you to be drowned out by music on your headphones?) and by practising with the focus exercises we will teach you. 
</p>

<h3>Fixation</h3>
<p>
  When you first learn to read, you sound out each individual letter to work out what the word is. For instance by reading out "ka" "a" "t" you realise that c + a + t = cat. Very quickly, however, you start to recognise the entire word without reading the individual letters. 
</p>
<p>
  You probably do this for many words <s></s> your brain recognises the pattern of the word rather than the individual letters. This is why you sometimes comically mistake one word for another if they "look similar", that is they match the same pattern. It is also why you don't notice spelling mistakes, because the word's "shape" is pretty much right. 
</p>
<p>
  When you are reading, a lot of the time your eye is moving and refocusing on the next word. The time when it is focused and not moving is called "fixation" <s></s> and is really the only time you are taking in what is in front of you. Something that will naturally start to happen as you read faster is you will use your peripheral vision as well as your central vision and effectively "see more words" in one fixation. This helps you get even faster. 
</p>
<p>
  At higher speeds you will notice that you follow the regulator less with your eyes and seem to be taking the entire line in at one time, or in 2-4 "chunks". Offline, you may move from using your finger or a pen as a regulator to using a ruler to reveal a line at a time. 
</p>

{% endblock %}
