
.js .noscript {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    color: blue;
}

#content {
    width: 100%;
    line-height: 1.5em;
}

#content header {
    width: 100%;
    text-align: center;
    background-color: #5eaf9b;
    padding: 1em 0 1em 0;
}

h1 {
    font-size: 4em;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 2em;
}

ul {
    margin: 0.5em 0;
    list-style: disc;
}

section[role=main] {
    width: 30em;
    padding: 0 10em 0 10em
    border: 1px dotted #ddd;
    margin: 0 auto 0 auto;
}

section[role=main] h1 {
  margin: 0.5em 0;
  padding-top: 0.5em;
  font-size: 2.5em;
}
section[role=main] h2 {
  font-size: 2em;
}
section[role=main] h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em 0 0.2em;
}

section[role=main] a.enticing {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 10px;
  background: #eee;
}
section[role=main] a.enticing:hover {
  background: #ddd;
}

article {
    width: 30em;
    margin: 0 auto 0 auto;
    line-height: 2em;
    position: relative;
    text-align: justify;
}

article > p > span {
    display: inline-block;
    white-space: pre;
}

article > p {
    margin-top: 1em;
}

.regulator {
    position: absolute;
    height: 3px;
    background-color: red;
}

div.timer {
    position: fixed;
    background: white;
    right: 5px;
    top: 5px;
}

.reading_speed {
    font-size: 4em;
}

.reading_improvement {
    font-size: 2em;
}

.dashboard_buttons {
    margin: 20px auto; 
}

.dashboard_buttons a:nth-child(1) {
    background-color: #b6d0d6;
}
.dashboard_buttons a:nth-child(2) {
    background-color: #fde79c;
}
.dashboard_buttons a:nth-child(3) {
    background-color: #cddb91;
}
.dashboard_button {
    color: #87125d;
    text-decoration: none;
    width: 6em;
    height: 6em;
    border: dotted 0.1em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
