
.js .noscript {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    color: blue;
}

#content {
    width: 100%;
}

#content header {
    width: 100%;
    text-align: center;
    background-color: #5eaf9b;
    padding: 1em 0 1em 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

section.main {
    width: 30em;
    padding: 0 10em 0 10em
    border: 1px dotted #ddd;
    margin: 0 auto 0 auto;
}

article {
    width: 30em;
    margin: 0 auto 0 auto;
    line-height: 2em;
    position: relative;
    text-align: justify;
}

article > p > span {
    display: inline-block;
    white-space: pre;
}

article > p {
    margin-top: 1em;
}

.regulator {
    position: absolute;
    height: 3px;
    background-color: red;
}

div.timer {
    position: fixed;
    background: white;
    right: 5px;
    top: 5px;
}

.reading_speed {
    font-size: 4em;
}

.reading_improvement {
    font-size: 2em;
}
