
.js .noscript {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
}

ul > li {
    list-style: disc; 
}

a {
    color: #4273af;
}

em {
    font-style: italic;
}

.center {
    text-align: center;
}

#content {
    background-color: #fefff1;
    width: 40em;
    line-height: 1.5em;
    font-family: Georgia, Garamond, serif;
    border-style: solid;
    border-color: black;
    border-width: 1px 4px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

#content > header {
    width: 100%;
    text-align: center;
    background-color: #5eaf9b;
    margin-bottom: 1em;
    border-bottom: 4px solid #5eaf9b;
}

h1, h2, h3, h4, h4 {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: left;
}

header img {
    float: right;
    margin-right: 1.5em;
    margin-top: 1em;
}

h1 {
    font-size: 2em;
    line-height: 1.25em;
    padding: .5em 0em;
}

#content > header h1 {
    font-size: 3em;
    width: 4.75em;
    text-align: left;
    padding: 0.25em 1.75em;
    background-image: url("../images/ovalbg.svg");
    background-position: center right;
}

section[role=main] > h1 {
  border-bottom: 1px solid #5eaf9b;
    padding: 1em 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h2 {
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.25em;
}

section[role=main] > h2 {
    border-bottom: 3px solid #5eaf9b;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    }

p + h2 {
    border-top: 3px solid #5eaf9b;
    padding-bottom: 0;
    border-bottom: 0;
}
    
h3 {
    font-size: 1.5em;
    padding-top: 0.75em;
    margin: .25em 0;
    letter-spacing: 1px;
    border-top: 1px dashed #5eaf9b;
}

h2 + h3 {
    border-top: 0px;
 }

ul, ol {
    list-style-position: inside;
    padding-bottom: 0.5em;
}

ul li {    
    list-style-type: disc;
    margin-left: 1em;
}

ol li {
    list-style-type: decimal;
}

section[role=main] {
    width: 30em;
    padding: 0 5em 0 5em;
    margin: 0 auto 0 auto;
}

section[role=main] p.nextSteps{
  text-align: right;
}
section[role=main] a.enticing {
  font-size: 1.25em;
  display: inline-block;
  text-align: center;
  width: 10em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.25em 0;
  margin-left: 50%;
  padding: 0.5em;
  border: 3px solid #000;
  border-radius: 15px;
  background: #fdffe5;
  color: #000;
  text-decoration: none;
}


section[role=main] a.enticing:hover {
  background: #ddd;
  color: #000;
}

article {
    width: 30em;
    margin: 0 auto 0.5em auto;
    position: relative;
    line-height: 2em;
}

article p {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
}

article p:first-child {
    margin-top: 0;
}

article > p > span {
    display: inline-block;
    white-space: pre;
}


section[role="main"] article header {
    width: 100%;
    letter-spacing: 0.05em;
}

section[role="main"] article header h1,
section[role="main"] article header h2,
section[role="main"] article header h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.819em;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#timer-module .explanation {
   border-bottom: 3px solid rgb(94, 175, 155);
   margin-bottom: 1em;
   padding-bottom: 1em;
}

div.timer {
    position: fixed;
    background: white;
    right: 5px;
    top: 5px;
}

div.dashboard_buttons {
    padding-bottom: 1em;
}

header > a {
    color: #000;
    text-decoration: none;
}

.reading_speed {
    font-style: italic;
}

.reading_improvement {
    font-style: italic;
}

.dashboard_buttons {
    margin-top: 1em;
    text-align: center;
}

.dashboard_buttons a:nth-child(1) {
    background-color: #b6d0d6;
}
.dashboard_buttons a:nth-child(2) {
    background-color: #fde79c;
}
.dashboard_buttons a:nth-child(3) {
    background-color: #cddb91;
}
.dashboard_button {
    width: 6em;
    height: 6em;
    border: dotted 1px;
    margin: 0 1em 0 1em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em;
    border: 3px solid #000;
    border-radius: 30px;
    color: #000;
    text-decoration: none;
    font-family: inherit;
}

ol.speed_graph {
  margin-top: 120px;  
}

ol.speed_graph li {
  display: inline;
  position: relative;
  padding-top: 100px;
}

ol.speed_graph li span {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: #5eaf9b;
}

p.reset_data {
    margin: 0.5em 0;
    text-align: center;
}
p.reset_data a {
    color: red;
}

button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.25em 0;
  padding: 0.5em;
  border: 3px solid #000;
  border-radius: 15px;
  background: #fdffe5;
  color: #000;
  text-decoration: none;
  font-family: inherit;
  }

button.delete_button {
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  background: red;
  color: white;
}

button.delete_button:hover {
    background-color: #cc0000;
}

button#control-article {
    width: 100%;
    height: 4em;
    margin-bottom: 2em;
}

body.js #proceed {
    display: none;
}

label.wpm {
    display: inline-block;
    text-align: left;
}

label.wpm input {
    display: inline-block;
    width: 6em;
}

footer {
    background-color: #5eaf9b;
    margin: 2em 0 0;
    padding: 1em 1em 1em 5em;
    color: #000;
}
footer a {
    color: #000;
}
footer h1, footer h1 > a {
    color: #fefff1;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    font-size: 1.2em;
}

article {
    color: #000;
}
article.reading {
    color: #aaa;
}

span {
    display: inline-block;
    white-space: pre;
    -webkit-transition:color 0.05s linear;
}

span.highlight {
    color: black;
}

.regulator {
    position: absolute;
    height: 6px;
    width: 6px;
    margin-top: -3px;
    border-radius: 3px;
    background-color: red;
}

