
.js .noscript {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
}

ul > li {
    list-style: disc; 
}

a {
    color: blue;
}

em {
    font-style: italic;
}

.center {
    text-align: center;
}

#content {
    background-color: #fefff1;
    width: 40em;
    line-height: 1.5em;
    font-family: Georgia, Garamond, serif;
    border-style: solid;
    border-color: black;
    border-width: 1px 4px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#content > header {
    width: 100%;
    text-align: center;
    background-color: #5eaf9b;
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
    border-bottom: 2px solid #5eaf9b;
}

h1, h2, h3, h4, h4 {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: left;
}

header img {
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p + h2 {
    border-top: 3px solid #5eaf9b;
    padding-bottom: 0;
    border-bottom: 0;
}
    
h3 {
    font-size: 1.5em;
}

ul {
    margin: 0.5em 0;
}

ul li {    
    list-style: disc;
}

#content > header h1 {
    width: 5em;
    text-align: left;
    line-height: 1.2em;
    padding: 0.5em 1em 0.5em 1em;
}

section[role=main] {
    width: 30em;
    padding: 0 5em 0 5em;
    margin: 0 auto 0 auto;
}

section[role=main] > h1 {
  margin: 0.5em 0;
  padding-top: 0.5em;
  font-size: 2em;
  width: 5em;
  text-align: left;
  line-height: 1.2em;
  padding: 0 1.5em;
}

section[role=main] > h2 {
  font-size: 1.6em;
  letter-spacing: 1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #5eaf9b;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

section[role=main] > h3 {
  font-size: 1.4em;
  margin: 0.5em 0 ;
  letter-spacing: 1px;
  padding-top: 0.5em;
  border-top: 1px dashed #5eaf9b;
}

section[role=main] a.enticing {
  font-size: 1.8em;
  display: inline-block;
  margin: 1em 0.5em;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 10px;
  background: #5eaf9b;
  color: #fff;
  text-decoration: none;
}

section[role=main] a.enticing:hover {
  background: #ddd;
  color: #666;
}

article {
    width: 30em;
    margin: 0 auto 0.5em auto;
    position: relative;
    text-align: justify;
}

article p:first-child {
    margin-top: 0;
}

article > p > span {
    display: inline-block;
    white-space: pre;
}


section[role="main"] article header {
    width: 100%;
    letter-spacing: 0.05em;
}

section[role="main"] article header h1 {
    font-size: 1em;
    text-align: center;
}
section[role="main"] article header h2 {
    font-size: 1em;
    text-align: center;
}
section[role="main"] article header h3 {
    font-size: 1em;
    text-align: center;
}



p {
}

.regulator {
    position: absolute;
    height: 3px;
    background-color: red;
}

#timer-module .explanation {
   border-bottom: 3px solid rgb(94, 175, 155);
   margin-bottom: 1em;
   padding-bottom: 1em;
}

div.timer {
    position: fixed;
    background: white;
    right: 5px;
    top: 5px;
}

header > a {
    color: #000;
    text-decoration: none;
}

.reading_speed {
    font-style: italic;
}

.reading_improvement {
    font-style: italic;
}

.dashboard_buttons {
    margin-top: 1em;
    text-align: center;
}

.dashboard_buttons a:nth-child(1) {
    background-color: #b6d0d6;
}
.dashboard_buttons a:nth-child(2) {
    background-color: #fde79c;
}
.dashboard_buttons a:nth-child(3) {
    background-color: #cddb91;
}
.dashboard_button {
    color: #87125d;
    text-decoration: none;
    width: 6em;
    height: 6em;
    line-height: 6em;
    border: dotted 1px;
    margin: 0 1em 0 1em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

ol.speed_graph {
  margin-top: 120px;  
}

ol.speed_graph li {
  display: inline;
  position: relative;
  padding-top: 100px;
}

ol.speed_graph li span {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: #5eaf9b;
}

p.reset_data {
    margin: 3em 0;
    text-align: center;
}
p.reset_data a {
    color: red;
}

button.delete_button {
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  background: red;
  color: white;
}

button.delete_button:hover {
    background-color: #cc0000;
}

button#practice {
    width: 100%;
    height: 4em;
}

body.js #proceed {
    display: none;
}
