
.js .noscript {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    margin-bottom: 1em;
}

ul > li {
    list-style: disc; 
}

a {
    color: blue;
}

#content {
    width: 100%;
    line-height: 2em;

}

#content header {
    width: 100%;
    text-align: center;
    background-color: #5eaf9b;
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
}

header img {
    position: absolute;
    left: 1em;
}

h1 {
    font-size: 4em;
    margin: 0.5em 0;
}


header h1:after {
    content:".";
    position: relative;
    left: -4.56em;
    top: 0.2em;
    color:red;
    font-size: 1.5em;
    line-height: 0;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 2em;
}

ul {
    margin: 0.5em 0;
    list-style: disc;
}

section[role=main] {
    width: 30em;
    padding: 0 10em 0 10em
    border: 1px dotted #ddd;
    margin: 0 auto 0 auto;
}

section[role=main] h1 {
  margin: 0.5em 0;
  padding-top: 0.5em;
  font-size: 2em;
  line-height: 1em;
}
section[role=main] h2 {
  font-size: 1.75em;
  letter-spacing: 1px;
}
section[role=main] h3 {
  font-size: 1.5em;
  margin: 0.5em 0 0.2em;
  letter-spacing: 1px;
}

section[role=main] a.enticing {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 10px;
  background: #eee;
}

section[role=main] a.enticing:hover {
  background: #ddd;
}

article {
    width: 30em;
    margin: 0 auto 0.5em auto;
    position: relative;
    text-align: justify;
}

article p:first-child {
    margin-top: 0;
}

article > p > span {
    display: inline-block;
    white-space: pre;
}

p {
    margin-top: 1em;
}

.regulator {
    position: absolute;
    height: 3px;
    background-color: red;
}

div.timer {
    position: fixed;
    background: white;
    right: 5px;
    top: 5px;
}

header > a {
    color: #ffffff;
    text-decoration: none;
}

.reading_speed {
    font-style: italic;
}

.reading_improvement {
    font-style: italic;
}

.dashboard_buttons {
    margin-top: 1em;
    text-align: center;
}

.dashboard_buttons a:nth-child(1) {
    background-color: #b6d0d6;
}
.dashboard_buttons a:nth-child(2) {
    background-color: #fde79c;
}
.dashboard_buttons a:nth-child(3) {
    background-color: #cddb91;
}
.dashboard_button {
    color: #87125d;
    text-decoration: none;
    width: 6em;
    height: 6em;
    line-height: 6em;
    border: dotted 1px;
    margin: 0 1em 0 1em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

button#practice {
    width: 100%;
    height: 4em;
}

body.js #proceed {
    display: none;
}

ol.questions {
    margin-top: 1em;
}

ol.questions > li.question {
    list-style: decimal;
}

li.question li {
    list-style: none;
}
